{{ range slice (dict "key" "paths" "dimension" "path" "label" "Paths") (dict "key" "sources" "dimension" "source" "label" "Traffic sources") }}
  {{ $dimension := .dimension }}
  {{ $key := .key }}
  <details class="stats-daily">
    <summary>{{ .label }}</summary>
    {{ range slice (dict "name" "Plausible" "data" $.plausible) (dict "name" "Cloudflare Web Analytics" "data" $.cloudflare_web) }}
      {{ $name := .name }}
      {{ with .data }}
        {{ if isset . $key }}
          <div class="stats-table-scroll" tabindex="0" role="region" aria-label="{{ $name }} {{ $key }}">
            <table class="stats-breakdown-table">
              <caption>{{ $name }}</caption>
              <thead><tr><th scope="col">{{ if eq $key "paths" }}Path{{ else }}Source{{ end }}</th>{{ if eq $name "Plausible" }}<th scope="col">Visitors</th>{{ end }}<th scope="col">Visits</th><th scope="col">Views</th></tr></thead>
              <tbody>
                {{ range sort (index . $key) "pageviews" "desc" }}
                  <tr><th scope="row">{{ $value := index . $dimension }}{{ if $value }}{{ if and (eq $key "paths") (strings.HasPrefix $value "/") }}<a href="{{ printf "https://devz.cl%s" $value }}">{{ $value }}</a>{{ else }}{{ $value }}{{ end }}{{ else }}Direct / unknown{{ end }}</th>
                    {{ if eq $name "Plausible" }}<td>{{ lang.FormatNumber 0 .visitors }}</td>{{ end }}
                    <td>{{ lang.FormatNumber 0 .visits }}</td><td>{{ lang.FormatNumber 0 .pageviews }}</td>
                  </tr>
                {{ else }}
                  <tr><td colspan="{{ if eq $name "Plausible" }}4{{ else }}3{{ end }}">No recorded traffic.</td></tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </details>
{{ end }}
